# This IPython notebook is a document for extracting wind rose data from Punta Arenas 
    by Xia and Butorovic for JGR-Atmospheres manuscript

In [3]:
import pandas as pd
df_precipitation = pd.read_csv("Punta Arenas precipitation.csv")
df_wind = pd.read_csv("Punta Arenas wind.csv")
df_full = pd.merge(df_wind, df_precipitation, how='left', on=['year','month','day'])
df_full['precipitation_per_hour'] = df_full['precipitation']/24

In [8]:
def wind_extraction(dataframe,angle1,angle2):
    wind_hour,precip_sum = 0,0
    df = dataframe
    if angle2 < 360:
        for i in range(0,len(df)):
            if (angle1 <= df.direction[i] < angle2) and (df.precipitation_per_hour[i]>=0):
                precip_sum = precip_sum + df.precipitation_per_hour[i]
                wind_hour = wind_hour + 1
    else:
        for i in range(0,len(df)):
            if (df.direction[i] >= angle1 or df.direction[i] < (angle2-360)) and df.precipitation_per_hour[i]>=0:
                precip_sum = precip_sum + df.precipitation_per_hour[i]
                wind_hour = wind_hour + 1
    return [wind_hour,precip_sum,precip_sum/wind_hour]

Results based on all wind data:

In [9]:
cardinal_direction = ["NNE","NE","ENE","E","ESE","SE","SSE","S","SSW","SW","WSW","W","WNW","NW","NNW","N"]
data_all = pd.DataFrame(columns = ["time sum","precipitation sum","precipitation sum/time_sum"])
for cad in range(len(cardinal_direction)):
    data_all.loc[cad] = wind_extraction(df_full,11.25+22.5*cad,33.75+22.5*cad)
data_all.index=cardinal_direction
data_all

     time sum  precipitation sum  precipitation sum/time_sum
NNE    6396.0         488.975000                    0.076450
NE     5827.0         851.458333                    0.146123
ENE    3420.0         542.037500                    0.158490
E      3041.0         604.233333                    0.198696
ESE    2311.0         267.079167                    0.115569
SE     1968.0         175.708333                    0.089283
SSE    2993.0         257.420833                    0.086008
S      6441.0         534.750000                    0.083023
SSW    5075.0         382.062500                    0.075283
SW    10716.0         498.504167                    0.046520
WSW   15736.0         687.366667                    0.043681
W     49605.0        2176.612500                    0.043879
WNW   31111.0        1461.829167                    0.046988
NW    21235.0        1107.304167                    0.052145
NNW   20558.0        1313.654167                    0.063900
N     15859.0        1045.883333                    0.065949

Results based on data with wind speed less than 4 m/s:

In [10]:
df04 = df_full[(df_full['wind_speed']>=0) & (df_full['wind_speed']<4)].reset_index(drop = True)
cardinal_direction = ["NNE","NE","ENE","E","ESE","SE","SSE","S","SSW","SW","WSW","W","WNW","NW","NNW","N"]
data_04 = pd.DataFrame(columns = ["time sum","precipitation sum","precipitation sum/time_sum"])
for cad in range(len(cardinal_direction)):
    data_04.loc[cad] = wind_extraction(df04,11.25+22.5*cad,33.75+22.5*cad)
data_04.index=cardinal_direction
data_04

     time sum  precipitation sum  precipitation sum/time_sum
NNE    3885.0         259.829167                    0.066880
NE     2979.0         291.670833                    0.097909
ENE    2072.0         244.050000                    0.117785
E      1705.0         240.945833                    0.141317
ESE    1491.0         139.820833                    0.093777
SE     1358.0         127.429167                    0.093836
SSE    2281.0         202.133333                    0.088616
S      4308.0         365.900000                    0.084935
SSW    3470.0         299.079167                    0.086190
SW     5243.0         309.733333                    0.059076
WSW    8498.0         422.091667                    0.049670
W     14432.0         609.075000                    0.042203
WNW    9708.0         403.400000                    0.041553
NW     7137.0         346.000000                    0.048480
NNW    9916.0         613.675000                    0.061887
N      9962.0         628.129167                    0.063053

Results based on data with wind speed between 4–8 m/s:

In [11]:
df48 = df_full[(df_full['wind_speed']>=4) & (df_full['wind_speed']<8)].reset_index(drop = True)
cardinal_direction = ["NNE","NE","ENE","E","ESE","SE","SSE","S","SSW","SW","WSW","W","WNW","NW","NNW","N"]
data_48 = pd.DataFrame(columns = ["time sum","precipitation sum","precipitation sum/time_sum"])
for cad in range(len(cardinal_direction)):
    data_48.loc[cad] = wind_extraction(df48,11.25+22.5*cad,33.75+22.5*cad)
data_48.index=cardinal_direction
data_48

     time sum  precipitation sum  precipitation sum/time_sum
NNE    2290.0         191.216667                    0.083501
NE     2519.0         481.245833                    0.191046
ENE    1238.0         261.337500                    0.211097
E      1022.0         280.541667                    0.274503
ESE     652.0         109.750000                    0.168328
SE      429.0          37.616667                    0.087685
SSE     591.0          43.983333                    0.074422
S      1846.0         145.233333                    0.078675
SSW    1393.0          74.166667                    0.053242
SW     3667.0         127.254167                    0.034703
WSW    5645.0         207.120833                    0.036691
W     21521.0         819.450000                    0.038077
WNW   12923.0         521.083333                    0.040322
NW     9153.0         429.870833                    0.046965
NNW    8436.0         523.766667                    0.062087
N      5137.0         343.575000                    0.066882